services:
    postgres:
        image: postgres:18
        environment:
            - POSTGRES_PASSWORD=postgrespwd
        ports:
            - 5432:5432
        volumes:
            - pgdata:/var/lib/postgresql
volumes:
    pgdata: